body {
    background-color: #f7f7f8;
    margin: 0;
    font-family: 'Lato', sans-serif;
}


/* NAVBAR */

#navbar {
    min-height: 100px;
    border: 1px, solid, #ffffff;
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    height: 61px;
    width: 180px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    margin-right: auto;
    margin-left: 35px;
}

#navbar a {
    color: #7d7d7d;
    text-decoration: none;
    padding: 11px;
}

#kup_teraz a {
    width: 40px;
    background-color: #ff0000;
    color: #ffffff;
    margin-right: 33px;
}


/* VIDEO */

.video_container {
    padding: 78px 99px 97px 91px;
    background-color: #272121;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    max-width: 1500px;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* INFO */

.info_container {
    padding: 48px 90px 45px 95px;
}

.about {}

.about p {
    color: #7d7d7d;
    text-align: justify;
}